<<<<<<< HEAD
body{
	background:orange;
}

input{
	margin-right: 520px;
	margin-left: 520px;
	width: 300px;
	border-radius: 10px;
	padding: 5px;
	outline: none;
	background-color: #bdbdbd;
	border: 0;
	font-family: cursive;

}

.resultado{
	background-color: #f5f5f5;
	padding: 10px;
	width: 300px;
}

.resultado-q {
	padding-bottom:5px;
	padding-top:5px;
	background-color: #fff;
}
#resultado-q  {
    position: absolute;
    margin-top: 7px;
    margin-right: 520px;
    margin-left: 520px;
}


iframe{
	width: 80%;
	height: 90vh;
	margin-left: 150px;
	margin-top: 50px;
}


body
{

background: url(../img/background.jpg);
}

header 
{	

	margin-top: 4%;
	margin-right: 2%;
	margin-left: 2%;
	text-align: center;

}

section, div
{

	margin-right: 2%;
	margin-left: 2%;
}



.pad-basic

{
padding:.5%; 
	
}

.no-btm
{
	margin-bottom:0%;
}

.btn-der
{
	text-align: right;
}



=======
body{
	background:orange;
}

input{
	margin-right: 520px;
	margin-left: 520px;
	width: 300px;
	border-radius: 10px;
	padding: 5px;
	outline: none;
	background-color: #bdbdbd;
	border: 0;
	font-family: cursive;

}

.resultado{
	background-color: #f5f5f5;
	padding: 10px;
	width: 300px;
}

.resultado-q {
	padding-bottom:5px;
	padding-top:5px;
	background-color: #fff;
}
#resultado-q  {
    position: absolute;
    margin-top: 7px;
    margin-right: 520px;
    margin-left: 520px;
}


iframe{
	width: 80%;
	height: 90vh;
	margin-left: 150px;
	margin-top: 50px;
}


body
{

background: url(../img/background.jpg);
}

header 
{	

	margin-top: 4%;
	margin-right: 2%;
	margin-left: 2%;
	text-align: center;

}

section, div
{

	margin-right: 2%;
	margin-left: 2%;
}



.pad-basic

{
padding:.5%; 
	
}

.no-btm
{
	margin-bottom:0%;
}

.btn-der
{
	text-align: right;
}



>>>>>>> a909d36dd7ff28c219ee569e718aaafa4d369934
